div#UI {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 9;

    padding: 0.8em;
    border-radius: 15px;
    background-color: lightgray;
}

#constellation-mode {
    position: fixed;
    right: 5px;
    bottom: 65px;
    z-index: 9;

    padding: 1em;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    gap: 10px;
    flex-direction: column;
}

#constellation-mode label {
    font-size: 14px;
    margin-right: 10px;
}

#brightness {
    width: 100%;
    margin: 10px 0;
}

#constellation-mode button {
    padding: 5px 10px;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #888;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#constellation-mode button:hover {
    background-color: #ddd;
}

.star-details {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    z-index: 1000; /* Ensure it's on top of other elements */
    border-radius: 8px;
}

